img{
    height: 120px;
    width: 70px;
}
aside{
    background-color: grey;
    width: 150px;
    margin-top: 10px;
    margin-left: 2px;
    height: 100vh;
    text-align: center;
    

}
aside img{
    border-radius: 50%;
}
body{
    margin: 0%;
}
aside a{
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.938);
    font-size: 30px;
    padding: 20px   ;

}
a:hover{
    background-color: lightcyan;
}